<form [formGroup]="form"  fxLayout="column" fxLayoutGap="20px">
  <pm-form-action  fxFlex
                   (save)="onSave($event)"
                   (add)="onAdd($event)"
                   (edit)="onEdit($event)"
                   (removes)="onRemoves($event)"
                   (cancel)="onCancel($event)"
                   (first)="onNavigate($event)"
                   (previous)="onNavigate($event)"
                   (next)="onNavigate($event)"
                   (last)="onNavigate($event)"
                   [listViewLink]="listViewLink"
                   [form]="form"
                   [isValidForm]="form.valid"
                   [disable]="isDisable"
                   [data]="company"
                   [dataEntities]="companyEntities"
                   [title]="title"
  ></pm-form-action>
  <input type="hidden" formControlName="id" />
  <div fxLayout="row" fxLayoutGap="10px" fxFlex>
    <mat-card fxLayout="column" fxFlex="20%" fxLayoutAlign="center center" class="mat-elevation-z15">
      <img
        [src]="logo"
        [alt]="company && company.id? company.imageName : ''"
        width="200px"
        height="200px"
        fxFlex
        *ngIf="company && company.id !== '' && !loading"
      />

      <input
        type="file"
        id="logo"
        hidden
        (change)="onUploadImage($event)"
        fxFlex
      />
      <button
        fxFlex
        mat-icon-button
        matTooltip="Modifier l'image de profile"
        matTooltipPosition="right"
        color="primary"
        (click)="onChoosePicture()"
        type="button"
        *ngIf="company && company.id !== '' && !loading"
      >
        <mat-icon>create</mat-icon>
      </button>
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="40%" class="mat-elevation-z15">
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Code" formControlName="code"/>
        <mat-error
          *ngIf="required('code')  || maximum('code')"
          class="text-danger"
        >
          <span *ngIf="required('code')"
          >Le code est obligatoire</span
          >
          <span *ngIf="maximum('code')"
          >Le code doit avoir 12 caratères maximum</span
          >
        </mat-error>
        <mat-error *ngIf="error && error.code">
          {{error.code}}
        </mat-error>
      </mat-form-field>
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Libelle" formControlName="name"/>
        <mat-error
          *ngIf="required('name')  || maximum('name')"
          class="text-danger"
        >
          <span *ngIf="required('name')"
          >Le libellé est obligatoire</span
          >
          <span *ngIf="maximum('name')"
          >Le libellé doit avoir 64 caratères maximum</span
          >
        </mat-error>
        <mat-error *ngIf="error && error.name">
          {{error.name}}
        </mat-error>
      </mat-form-field>
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="N° contribuable" formControlName="vat"/>
      </mat-form-field>
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Registre de commerce" formControlName="trn"/>
      </mat-form-field>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="40%" class="mat-elevation-z15">
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Email" formControlName="email"/>
        <mat-error
          *ngIf="email('email')"
          class="text-danger"
        >
          <span *ngIf="email('email')"
          >Email invalide</span
          >
        </mat-error>
        <mat-error *ngIf="error && error.email">
          {{error.email}}
        </mat-error>
      </mat-form-field>
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Téléphone" formControlName="phoneNumber"/>
      </mat-form-field>
      <mat-form-field  fxFlex>
        <input type="text" matInput placeholder="Portable" formControlName="mobileNumber"/>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Boite Postal" formControlName="zip"/>
      </mat-form-field>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxFlex>
    <mat-card fxLayout="column" fxFlex class="mat-elevation-z15">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Rue" formControlName="street"/>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Ville" formControlName="city"/>
      </mat-form-field>
    </mat-card>
    <mat-card fxLayout="column" fxFlex class="mat-elevation-z15">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Pays" formControlName="country"/>
      </mat-form-field>
      <div fxFlex></div>
      <mat-checkbox fxFlex labelPosition="after" formControlName="active"> Actif?</mat-checkbox>

    </mat-card>
  </div>
</form>
<div class="align-spinner-form"><mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner></div>
