table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-icon {
  margin: 0px;
  padding: 0px;
}
.highlight {
  background: #87cefa; /* grey */
}

.td_mouse {
  cursor: pointer;
}
