<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  fxLayoutAlign="center center"
  autocomplete="off"
>
  <mat-card fxLayout="column" fxFlex="25%" class="sign-card mat-elevation-z15">
    <mat-card-header fxLayoutAlign="center center" fxLayout="column">
      <h1>Se Connecter</h1>
      <img src="../../../../../assets/logo_gelodia.png" alt="Logo GELODIA">
    </mat-card-header>
    <mat-form-field  fxFlex>
      <input type="text" matInput placeholder="Code Entreprise" formControlName="companyCode"/>
      <mat-error
        *ngIf="required('companyCode') || maximum('companyCode') || minimum('companyCode')"
        class="text-danger"
      >
        <span *ngIf="required('companyCode')"
        >Le code entreprise est obligatoire</span
        >
        <span *ngIf="minimum('companyCode')"
        >Le code entreprise doit avoir 5 caractère minimum</span
        >
        <span *ngIf="maximum('companyCode')"
        >Le code entreprise doit avoir 32 caratères maximum</span
        >
      </mat-error>
      <mat-error *ngIf="error && error.companyCode">
        {{error.companyCode}}
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxFlex>
      <input type="text" matInput placeholder="Code utilisateur ou Email" formControlName="usernameOrEmail"/>
      <mat-error
        *ngIf="required('usernameOrEmail') || maximum('usernameOrEmail') || minimum('usernameOrEmail')"
        class="text-danger"
      >
        <span *ngIf="required('usernameOrEmail')">Le login est obligatoire</span>
        <span *ngIf="minimum('usernameOrEmail')"
        >Le login doit avoir 5 caractère minimum</span
        >
        <span *ngIf="maximum('usernameOrEmail')"
        >Le login doit avoir 32 caratères maximum</span
        >
      </mat-error>
      <mat-error *ngIf="error && error.username">
        {{error.usernameOrEmail }}
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxFlex>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        placeholder="Mot de passe"
        formControlName="password"
      /><button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      matTooltip="Afficher le mot de passe"
      matTooltipPosition="right"
      type="button"
      color="primary"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
      <mat-error
        *ngIf="
            required('password') || minimum('password') || maximum('password')
          "
        class="invalid-feedback"
      >
        <span *ngIf="required('password')"
        >Le mot de passe est obligatoire</span
        >

        <span *ngIf="minimum('password')"
        >Le mot de passe doit avoir 6 caractères minimum</span
        >
        <span *ngIf="maximum('password')"
        >Le mot de passe doit avoir 32 caractères maximum</span
        >
      </mat-error>
      <mat-error *ngIf="error && error.password">
        {{error.password}}
      </mat-error>
    </mat-form-field>
    <!--button section-->
    <div
      fxLayout="column"
      fxLayoutGap="30px"
      fxLayoutAlign="center"
      fxFlex="100%"
      class="footer"
    >
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        type="submit"
        fxFlex="100%"
        class="sign-btn"
        *ngIf="!loading"
      >
        <mat-icon>done</mat-icon> Connexion
      </button>
      <p class="register-link" fxFlex>
        <a mat-button color="primary" [routerLink]="['/auth/sign-up']">Pas de compte? S'enregistrer</a>
      </p>
    </div>
  </mat-card>
</form>
<div class="align-spinner-form"><mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner></div>
